{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1 class="gradient">Zero Waste Recipes</h1>

        <!--Django Message to User goes here (code on navbar, base.html)-->
        <div class="container-fluid">
            <div class="row">
                <!-- Recipe Search -->
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <form class="d-flex col-lg-8 col-md-10 col-11" role="search" action="{% url 'recipe' %}">
                        <div class="form-floating flex-grow-1 me-2">
                            <input 
                                class="form-control" 
                                id="floatingSearch" 
                                name="q" 
                                type="search" 
                                placeholder="Enter ingredient, cuisine or dietary type to search for recipes" 
                                aria-label="Search Recipes">
                            <!-- Label for larger devices -->
                            <label for="floatingSearch" class="d-none d-md-block">Enter an ingredient, cuisine type, or dietary preference (e.g. vegan) to find recipes.</label>
                            <!-- Label for smaller devices -->
                            <label for="floatingSearch" class="d-block d-md-none">Enter ingredient, cuisine or diet type</label>
                        </div>
                        <button class="btn btn-success btn-zwc-green ms-2 ms-sm-0" type="submit">Search Recipes</button>
                    </form>
                </div>
            </div>
        </div>
        
        <br>
        <!-- Recipe Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe_post in recipepost_list %}
                <!--from class RecipePost models.py-->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if recipe_post.featured_image and recipe_post.featured_image.url %}
                                <img class="card-img-top" src="{{ recipe_post.featured_image.url }}"
                                    alt="{{ recipe_post.title }}">
                                {% else %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ recipe_post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_post_detail' recipe_post.slug %}" class="post-link">
                                <h2 class="card-title">{{ recipe_post.title }}</h2>
                                <p class="card-text">{{ recipe_post.type_of_cuisine }}</p>
                                <p class="card-text">{{ recipe_post.dietary_categories }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ recipe_post.created_on }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}