{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mx-auto hero-div">
                <div class="container text-center">
                    <br>
                    <h1 class="gradient">500 Server Error</h1>
                    <br>
                    <h1 class="gradient">Please try again later.</h1>
                    <br>
                    <h1 class="gradient"><a href="{% url 'home' %}">Go back to the homepage</a></h1>
                </div>
                <br>
                <img src="{% static 'images/zwc_hero.jpg' %}" alt="Zero Waste Cooking Hero Image" class="hero-img">
                <br>
            </div>
        </div>
    </div>
{% endblock %}